<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="span8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <h1>Welcome to Messenger</h1>
    <h2>
      Connect with your friends — and other fascinating people.
      Get in-the-moment updates on the things that interest you.
      <p>And watch events unfold, in real time, from every angle.</p>
    </h2>
    <h3>
      <%= link_to "Sign up for Messenger", signup_path,
                  class: "btn btn-large btn-primary" %>
    </h3>
    <%= link_to image_tag("ruby.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>